

.App-header {
  text-align: center;
  font-size: large;
  color: deeppink;
  padding: 1px;
  width: 100%;
  font-weight: bolder;
  background-color: black;
}

.app-title
{
  text-align: center;
  margin-bottom: 20px;
}



.addtodo
{
  width: 100%;
}

.container
{  
   width: 200px;
   height: 200px;
   margin-left: 160px;
   margin-top: 20px;
   
}

.app-container
{
  
  width: 200px;
  height: 200px;
  margin-left: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 300px;
  margin-top: 40px;
}

.App-Footer{
  text-align: center;
  font-size: large;
  color: brown;
  font-weight: bolder;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 550px;
  position: absolute;
}






